@import '../../../styles.scss';

.under-construction {
  text-align: center;

  h1 {
    font-size: 2rem;
    color: $highlight-color;
  }

  p {
    font-size: 1.2rem;
    color: $primary-color;
  }
}
