@import '../../../styles.scss';

.under-construction {
  text-align: center;
  margin: 20vh 11vw;

  h1 {
    font-size: 2rem;
    color: $alert-color;
  }

  p {
    font-size: 1.2rem;
    color: $primary-color;
  }
}
