<div class="timeline">
    <div *ngFor="let job of jobs; index as i" class="timeline-point" (click)="selectJob(i)">
        <div class="job-info">
            <span>{{ job.roles[0].startDate }} - {{ job.roles[job.roles.length - 1].endDate || ('Present' | translate)
                }}</span>
            <br />
            <span>{{ job.company }}</span>
        </div>
        <div class="point" [class.active]="selectedJobIndex === i"></div>
    </div>
</div>

<div class="job-details" *ngIf="selectedJobIndex !== null">
    <h3>{{ jobs[selectedJobIndex].company }}</h3>
    <ul>
        <li *ngFor="let role of jobs[selectedJobIndex].roles">
            <p><strong>Role:</strong> {{ role.title }} </p>
            <p><strong>Dates:</strong> {{ role.startDate }} - {{ role.endDate || ('Present' | translate) }}</p>
            <p><strong>Technologies:</strong> {{ role.technologies.join(', ') }}</p>
        </li>
    </ul>
</div>