.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  position: relative;
  max-width: 100%;
  margin: 3rem;

  &::before {
    content: "";
    position: absolute;
    background-color: black;
    z-index: -1;
    width: 0.2rem;
    height: 100%;
    left: 50%;
    top: 0;
  }

  @media (min-width: 769px) {
    flex-direction: row;
    justify-content: center;

    &::before {
      width: 100%;
      height: 0.2rem;
      top: 50%;
      left: 0;
    }
  }
}

.timeline-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 1rem 0;

  .job-info {
    color: black;
    font-size: 14px;
    margin-bottom: 0rem;
    text-align: center;
    padding-right: 50vw;

    @media (min-width: 769px) {
      padding-right: 0;
      margin-bottom: 5rem;
    }
  }

  .point {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.active {
      transform: translate(-50%, -50%) scale(1.2);
      background-color: black;
    }
  }

  @media (min-width: 769px) {
    margin: 0 1rem;
  }
}

.job-details-main {
  max-width: 90%;
  margin: 1rem auto;

  .job-details-container {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .job-details {
    width: 100%;
    padding: 2rem;
  }

  @media (min-width: 768px) {
    max-width: 80%;
  }

  @media (min-width: 1024px) {
    max-width: 55%;
  }
}

.job-logo {
  text-align: center;

  .logo {
    width: 10vw;
    height: auto;
    margin: 0 auto;
    object-fit: contain;

    @media (min-width: 769px) {
      width: 8rem;
      height: 8rem;
    }
  }
}

.job-content {
  display: block;
  margin-top: 1rem;
  line-height: 3vh;

  .column-1,
  .column-2 {
    width: 100%;
    margin: 0;
  }

  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;

    .column-1 {
      width: 48%;
      margin-right: 4%;
    }

    .column-2 {
      width: 48%;
      margin-left: 4%;
      text-align: justify;
    }
  }
}

.job-description {
  line-height: 3vh;
  text-align: justify;
}

h3 {
  margin-top: 0;
  color: black;
}

ul {
  padding-left: 1.25rem;
  color: black;
}

p {
  color: black;
}
