nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.actions a {
  color: #ffffff;
  margin-right: 1rem;
  font-size: 1.3rem;
}

.actions a:hover {
  color: #f0a500;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-grow: 1;
}

.menu li {
  margin: 0 1.5rem;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
}

.menu li a:hover {
  color: #f0a500;
}

.language-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.language-selector select {
  background-color: #444;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.language-selector select:focus {
  outline: none;
}

.language-option {
  cursor: pointer;
}

.language-option:hover {
  color: #ffb800;
}

.separator {
  margin: 0.4rem 0.4rem;
  color: #ffffff;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    padding: 0 1rem;
    align-self: stretch;
  }

  .menu li {
    margin: 0.5rem 0;
    width: 48%;
    text-align: center;
  }

  .actions {
    margin-top: 1rem;
    justify-content: center;
    width: 100%;
  }

  .actions a,
  .language-selector select {
    margin-top: 0.5rem;
  }

  .language-selector {
    margin-top: 1rem;
    justify-content: center;
    align-self: normal;
  }

  .menu li:nth-child(2n) {
    margin-left: 0.5rem;
  }
}
