<nav>
    <div class="actions">
        <a href="https://www.linkedin.com/in/joanagaivotapires/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/diverintech" target="_blank" aria-label="GitHub">
            <i class="fab fa-github"></i>
        </a>
    </div>

    <ul class="menu">
        <li><a routerLink="/home" routerLinkActive="active">{{ 'HOME' | translate }}</a></li>
        <li><a routerLink="/about" routerLinkActive="active">{{ 'ABOUT' | translate }}</a></li>
        <li><a routerLink="/work" routerLinkActive="active">{{ 'WORK' | translate }}</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active">{{ 'PORTFOLIO' | translate }}</a></li>
    </ul>

    <div class="language-selector">
        <span (click)="changeLanguage('pt')" class="language-option">PT</span>
        <span class="separator">|</span>
        <span (click)="changeLanguage('en')" class="language-option">EN</span>
    </div>
</nav>