<div class="about-container">
    <div class="animated-container">
        <div class="flowing-quotes">
            <span>👨‍💻 {{ 'quotes.quote1' | translate }}</span>
            <span>🌐 {{ 'quotes.quote2' | translate }}</span>
            <span>✨ {{ 'quotes.quote3' | translate }}</span>
        </div>
    </div>

    <div *ngIf="!showTextAboutMe">
        <p class="intro">{{ 'aboutPage.introAbout' | translate }}</p>

        <div class="buttons">
            <button mat-button (click)="openPuzzle()">
                {{ 'puzzleButton' | translate }}
            </button>
            <button mat-button (click)="openMathQuiz()">
                {{ 'mathButton' | translate }}
            </button>
        </div>
    </div>


    <div *ngIf="showTextAboutMe" class="showTextAboutMe">
        <h2>{{ 'aboutPage.congratulations' | translate }}</h2>
        <p>{{ 'aboutPage.aboutMeText' | translate }}</p>
    </div>
</div>