@use '../assets/shared-styles/mediaQueries.scss' as *;

section {
  padding-top: 6rem;
  width: 70%;
  justify-self: center;
  transition: padding 0.3s ease;

  @include media-query-min('m') {
    max-width: 60%;
    justify-self: center;
  }
}

#home {
  padding-top: 8rem;
}

#portfolio {
  padding-bottom: 4rem;
}

@include media-query-min('m') {
  section {
    padding-top: 8rem;
  }

  #home {
    padding-top: 12rem;
  }
}
