<div class="home-container">
    <h1>{{ 'title_home' | translate }}</h1>
    <p>{{ 'INTRO_HOME' | translate }}</p>
    <p>
        {{ 'github' | translate }}
        <a href="https://github.com/diverintech/diverintech.github.io" target="_blank">
            {{ 'github_link' | translate }}
        </a>
    </p>
    <p>{{ 'navigation_invite' | translate }}</p>
    <div class="buttons-container">
        <button routerLink="/about">{{ 'about' | translate }}</button>
        <button routerLink="/work">{{ 'work' | translate }}</button>
        <button routerLink="/portfolio">{{ 'portfolio' | translate }}</button>
    </div>
</div>