@use '../../../../src/styles' as *;
@use '../../../assets/shared-styles/mediaQueries.scss' as *;
@use '../../../assets/shared-styles/colors.scss' as *;
@use '../../../assets/shared-styles/text.scss' as *;

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 4rem;

  @include media-query-min('s') {
    padding: 3rem 8rem;
  }

  @include media-query-min('l') {
    padding: 5rem 12rem;
  }

  @include media-query-min('xl') {
    padding: 5rem 20rem;
  }

  .information-container {
    color: var(--text-color-secondary);

    .name {
    }

    .profession {
    }
  }

  .language-selector {
    color: var(--text-color-secondary);
  }

  .introduction {
    padding: 1rem 2rem;
    width: 100%;
    font-size: 16px;
  }

  p {
    margin-bottom: 1.5rem;
    color: var(--text-color-alternative);

    @include media-query-min('s') {
    }
  }

  .buttons-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;

    @include media-query-min('m') {
      display: flex;
    }

    button {
      padding: 1rem 2rem;
      font-size: 1.1rem;
      border: 2px solid #007acc;
      border-radius: 30px;
      background-color: var(--background-color-secondary);
      color: #007acc;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: #007acc;
        color: var(--text-color-primary);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(1px);
      }

      &:focus {
        outline: 3px solid #005f99;
      }
    }
  }
}
