<div class="home-container">
  <div class="image-container">
    <img src="assets/images/image04.jpeg" alt="Profile Picture" />
  </div>

  <div class="content-container">
    <h1 class="title">{{ 'Hi' | translate }}</h1>
    <h1 class="title">{{ 'I am Joana' | translate }}</h1>
    <h1 class="title">{{ 'Software Developer' | translate }}</h1>

    <p class="description">
      {{ 'homePage.introP1' | translate }} <br />
      {{ 'homePage.introP2' | translate }}
    </p>

    <div class="skills-container">
      <div
        class="skill"
        *ngFor="let skill of skills"
        (mouseenter)="highlightSkill(skill)"
        (mouseleave)="removeHighlight(skill)"
      >
        {{ skill }}
      </div>
    </div>
  </div>
</div>
