@use '../../../../src/styles' as *;
@use '../../../assets/shared-styles/mediaQueries.scss' as *;
@use '../../../assets/shared-styles/colors.scss' as *;
@use '../../../assets/shared-styles/text.scss' as *;

.timeline-title {
  font-size: $font-size-xlarge;
  text-align: center;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 4rem auto;
  justify-content: space-around;

  &::before {
    content: '';
    position: absolute;
    background-color: var(--background-color-secondary);
    z-index: -1;
    width: 0.2rem;
    height: 100%;
    left: 50%;
    top: 0;
  }

  @include media-query-min('m') {
    flex-direction: row;
    justify-content: center;

    &::before {
      width: 100%;
      height: 0.2rem;
      top: 50%;
      left: 0;
    }
  }
}

.timeline-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 1rem 0;

  .job-info {
    font-size: $font-size-small;
    margin-bottom: 0rem;
    text-align: center;
    padding-right: 50vw;

    @include media-query-min('m') {
      padding-right: 0;
      margin-bottom: 5rem;
    }
  }

  .point {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--background-color-alternative_3);
    cursor: pointer;
    transition:
      transform 0.2s,
      background-color 0.2s;
    position: absolute;
    top: 51%;
    left: 50.32%;
    transform: translate(-50%, -50%);

    &.active {
      left: 50.33%;
      transform: translate(-50%, -50%) scale(1.2);
      background-color: var(--background-color-alternative_4);
    }
  }

  @include media-query-min('m') {
    margin: 0 1rem;
  }
}

.job-details-main {
  margin: 1rem auto;

  .job-details-container {
    background-color: var(--background-color-alternative_2);
    color: var(--text-color-secondary);
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem;

    @include media-query-min('m') {
      flex-direction: row;
      align-items: flex-start;
      padding: 2rem;
    }

    .job-details {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include media-query-min('m') {
        flex-direction: row;
      }
    }

    .job-content {
      display: flex;
      flex-direction: column;
      flex: 2;
      line-height: 2;

      .column-1 {
        text-align: left;
        margin: auto 2rem 1rem 2rem;

        @include media-query-min('m') {
          margin-bottom: 0;
        }
      }

      .column-2 {
        display: none;
      }
    }

    .job-logo {
      place-self: center;
      margin: 4rem auto 5rem auto;

      @include media-query-min('m') {
        margin: 0 auto;
      }

      .logo {
        width: 10rem;
        height: auto;
        object-fit: contain;

        @include media-query-min('m') {
          margin-left: 2rem;
          width: 8rem;
          height: 8rem;
        }
      }

      @include media-query-min('m') {
        flex: 1;
        text-align: right;
      }
    }

    .job-company {
      font-size: $font-size-large;
    }

    .job-role {
      font-size: $font-size-medium;
    }

    .job-stack {
      font-size: $font-size-small;
      margin: 1rem auto;
    }

    .job-description {
      font-size: $font-size-small;
      margin-top: 2rem;
    }
  }
}
