$primary-font: "Roboto", sans-serif;
$primary-color: #fff;
$background-color: rgba(0, 0, 0, 0.5);
$highlight-color: #ffb800;
$footer-height: 60px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background-cover($image-path) {
  background: url(#{$image-path}) no-repeat center center fixed;
  background-size: cover;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  @include background-cover("assets/image01.jpeg");
  font-family: $primary-font;
  color: $primary-color;
  margin: 0;
  padding: 0;
  margin-bottom: $footer-height;
}

main {
  flex: 1;
  overflow: auto;
}

nav,
footer {
  background-color: $background-color;
  color: $primary-color;
}

nav a,
footer p {
  color: $primary-color;
}

nav a:hover,
.actions a:hover,
.language-option:hover {
  color: $highlight-color;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
}
