@use '@angular/material' as mat;

@use '../src/assets/shared-styles/colors.scss' as *;
@use '../src/assets/shared-styles/mediaQueries.scss' as *;
@use '../src/assets/shared-styles/text.scss' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  position: relative;
  min-height: 100%;
  font-family: $font-family-primary;
}

body {
  font-family: $font-family-primary;
  color: var(--text-color-primary);
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  background-color: var(--background-color-primary);
}
