:root {
  --background-color-primary: black;
  --background-color-secondary: #fff;
  --background-color-alternative: lightgray;
  --background-color-alternative_2: #f4f4f4;

  --text-color-primary: #fff;
  --text-color-secondary: #000;
  --text-color-alternative: #555;

  --border-color-primary: #ccc;
  --border-color-secondary: #ddd;

  --notification-color-error: #e74c3c;
  --notification-color-success: #4caf50;

  --buton-color-error-primary: #f44336;
  --buton-color-error-secondary: #e53935;

  --buton-color-success-primary: #4caf50;
  --buton-color-success-secondary: #45a049;

  --hover-color: #ffb800;
}

:root[data-theme='dark'] {
  --background-color-primary: 14, 20, 24;
  --background-color-secondary: 28, 32, 36;
  --background-color-alternative: 50, 58, 64;

  --text-color-primary: #fff;
  --text-color-secondary: #aaa;
  --text-color-alternative: #ddd;

  --border-color-primary: #666;
  --border-color-secondary: #888;

  --notification-color-error: #fc1717;
}
