@use '../../../../src/styles' as *;
@use '../../../assets/shared-styles/mediaQueries.scss' as *;
@use '../../../assets/shared-styles/colors.scss' as *;
@use '../../../assets/shared-styles/text.scss' as *;

.language-selector {
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;

  .language-option {
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
      color: var(--hover-color);
    }
  }
  .separator {
    font-size: 1rem;
  }
}
