@use '../../../../src/styles' as *;
@use '../../../assets/shared-styles/mediaQueries.scss' as *;
@use '../../../assets/shared-styles/colors.scss' as *;
@use '../../../assets/shared-styles/text.scss' as *;

.portfolio-title {
  font-size: $font-size-xlarge;
  text-align: center;
}

.portfolio-container {
  margin-top: 4rem;

  @include media-query-min('s') {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}

.project-card {
  display: grid;
  background-color: var(--background-color-alternative_3);
  color: var(--text-color-secondary);
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  grid-template-rows: 0.5fr 2fr 1fr 0.5fr;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .description {
    font-size: $font-size-small;
    line-height: 1.8;
    margin: 0;
  }

  .technologies {
    display: flex;
    justify-content: center;
    align-self: start;
    flex-wrap: wrap;
    gap: 8px;

    .tech {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 0.9rem;

      img {
        height: 2rem;
      }
    }
  }

  .repo-link {
    color: var(--text-color-primary);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    padding: 0.8rem;
    width: max-content;
    height: fit-content;
    justify-self: center;
    margin-top: 1rem;

    &:hover {
      background-color: #0056b3;
    }
  }
}
