@use '../../../../src/styles' as *;
@use '../../../assets/shared-styles/mediaQueries.scss' as *;
@use '../../../assets/shared-styles/colors.scss' as *;
@use '../../../assets/shared-styles/text.scss' as *;

.portfolio-title {
  font-size: $font-size-xlarge;
  justify-self: center;
}

.portfolio-container {
  margin: 5rem;
}
